@use '../abstracts/mixins';

.form-login__button {
    @include form-button
}

.form-logout__button {
    @include form-button;

}

.form-login__button-img {
    margin-right: 10px;
}

.form-login__register-link {
    text-decoration: none;
    font-weight: bold;
    color: #729E2E;
}

.form-login__login-link {
    text-decoration: none;
    font-weight: bold;
    color:  #fff;
}

.form-logout__logout-link  {
    text-decoration: none;
    font-weight: bold;
    color:  #fff;
}
