// abstracts/_mixins.scss
@mixin categorias-logos {
    &--red {
        background-color: #E93E30;
        border-radius: 10px;
        margin-bottom:1rem;
    }
    &--yellow {
        background-color: #F7E018;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    &--blue {
        background-color: #299ED5;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    &--black {
        background-color: #292C33;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    &--green {
        background-color: #67C770;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    &--purple {
        background-color: #563D7C;
        border-radius: 10px;
        margin-bottom: 4rem;
    }
}

@mixin post-styles {
    &__date {
        font-size: 16px;
        font-weight: 400;
        color: #171717;
        padding-bottom: 0.4rem;
        margin-bottom: 0;
    }

    &__logo {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        &-img {
            height: 2rem;
            border-radius: 50%;
        }

        &-p {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@mixin section-styles {
    &__date {
        padding-top: 3%;
    }

    &__logo {
        padding-top: 5%;
        padding-bottom: 0%;

        &-img {
            height: 2rem;
            border-radius: 50%;
        }

        &-p {
            font-size: 16px;
            font-weight: 400;
        }
    }
}


@mixin article-styles {
    &__logo {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &-img {
            height: 2.4rem;
            border-radius: 50%;
        }

        &-p {
            font-size: 24px;
            font-weight: 400;
        }
    }

    &__date {
        font-size: 18px;
        font-weight: 400;
        color: #171717;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
}

@mixin nav-styles {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
    }

    .nav__logo {
        display: flex;
        align-items: center;
        padding-left: 10%;
    }

    .nav__img {
        height: 2.4rem;
        border-radius: 4px;
    }

    .nav__p {
        margin-bottom: 0;
        text-align: center;
        padding-left: 1rem;
        font-weight: 700;
    }
}

@mixin footer-logo {
    &__logo {
        font-weight: 700;
        color: #000000;
        display: flex;
        align-items: center;
        text-align: center;

        &__img {
            height: 2.4rem;
            border-radius: 4px;
        }
    }
}