.footer {
    height: 60px;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;


    @include footer-logo;

    &__rights {
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: center;

        &__p {
            font-size: 20px;
            font-weight: 400;
        }
    }
}