@use '../abstracts/mixins';
.footer {
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 0;
    height: 3em; 
    @include footer-logo;

    &__rights {
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: center;
        margin-top: -3rem;

        &__p {
            font-size: 20px;
            font-weight: 400;
        }
    }
}