@use '../abstracts/mixins';

.form-login {
    @include forms
}

.form-logout {
    @include forms
}

.container {
    @include forms;
}

.form-login__button {
    @include form-button;

    background-color: #729E2E;
    color: #fff;
}

.form-login__button--google {
    @include form-button;

    background-color: #fff;
    color: #171717;
}

.form-login__button-img {
    @include form-button-img;
}

.form-login__register-link {
    @include form-register-link;
}


.form-logout__button {
    @include form-button;

    background-color: #729E2E;
    color: #fff;
}

.form-logout__button--google {
    @include form-button;

    background-color: #fff;
    color: #171717;
}

.form-logout__button-img {
    @include form-button-img;
}

.form-logout__register-link {
    @include form-register-link;
}

.form-options {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__checkbox {
        margin-right: 10px;
    }

    &__forget-password {
        text-decoration: none;
        margin-bottom: 20px;
    }
}