@use '../abstracts/mixins';

.nav {
    height:5em;
    @include mixins.nav-styles;
     
    &__login {
        margin-left: auto;
        padding-right: 4rem;
        padding-top: 1%;
        font-weight: 700;

        a {
            text-decoration: none;
            color: #729E2E;
        }
    }
}