@import '../abstracts/mixins';

.nav {
    @include nav-styles;
    height: 5em; 
    &__login {
        margin-left: auto;
        padding-right: 4rem;
        padding-top: 2rem;
        font-weight: 700;

        a {
            text-decoration: none;
            color: #729E2E;
        }
    }
}